.Card{
    display: flex;
    flex-direction: column;
    aspect-ratio: 8/11.5;
    height: 80%;
    justify-content: center;
    padding: 0.2em;
    border-radius: 0.5em;
    position: relative;
    background-image: linear-gradient(to bottom right, var(--materialBlueGrey-color), var(--materialBlueGreyDarker-color));
    border: 0.01em outset black;
}

.Card:hover{
    height: 90%;
    padding: 1em;
    box-shadow: 0 2em 3em 0 black, inset 0 0 0.7em black;
    transition: 200ms;
    z-index: 1000;
}

.image{
    width: 99%;
    height: 99%;
    border: 0.01em inset black;
    border-radius: 0.5em;
    background: var(--materialBlueGreyDarker-color);
}