.Row{
    height: 12vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.cards{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 94%;
    height: 100%;
    box-shadow: inset 0 0 0.7em black;
}

.cards:hover{
    box-shadow: inset 0 0 1.2em black;
    transition: 200ms;
}

.cardWrapper{
    display: flex;
    list-style: none;
    padding: 0;
    height: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    justify-content: center;
    align-items: center;
}

.rowInfo{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 5%;
    align-items: center;
    justify-content: center;
    margin: 0;
}
