body {
    background-color: #161414;
}

.edit_label {
    margin-bottom: 15px;
    color: #febf0a;
}

.form_container{
    width: 330px;
    margin: 80px auto;
    text-align: center;
    color: #febf0a;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 #4b4b4b, 0 1px 2px 0 #929292;
    padding: 1rem;
    background-image: linear-gradient(to bottom right,#222121, #1e1e1e);
}

.fields {
    float: left;
    text-align: right;
}

input {
    width: 60%;
    padding: 5px 6px;
    margin: 7px auto;
    display: inline-block;
    border: 1px solid #494ca2;
    border-radius: 8px;
    background-color: #494ca2;
    color: white;
}

input:hover{
    background-image: linear-gradient(to bottom right, #494ca2, rgba(0,0,0,.125));
    transition: 200ms;
}

.updatebtn {
    background-color: #5bb3d8;
    color: white;
    padding: 2px 2px;
    margin: 5px auto;
    cursor: pointer;
    width: 40%;
    border-radius: 20px;
    border: 2px solid rgba(255,255,255,0);
}

.updatebtn:hover {
    background-color: transparent;
    border-color: rgba(255,255,255,1);
    transition: 200ms;
}

.date_label {
    margin-top: 3px;
    text-align: center;
}

::placeholder {
    color: #797979;
}

.date {
    margin-top: 0;
    margin-bottom: 0;
}

.return_link {
    display: inline-block;
    cursor: pointer;
    border: 0.2em solid #494ca2;
    border-radius: 3px;
    background-color: #494ca2;
    margin-left: 8px;
    margin-top: 8px;
    padding: 0;
    width: 41px;
}

.return_link:hover{
    background-image: linear-gradient(to bottom right, #494ca2, rgba(0,0,0,.125));
    transition: 200ms;
}

.back_svg {
    width: 25px;
    padding: 1px;
}