html, body {
    margin: 0;
    padding: 0;
    background-color: #212121;
}

.topbar {
    width: 100%;
    height: 4em;
    position: fixed;
    background-color: #1b1b1b;
    justify-content: left;
    box-shadow: 0 0.01em .5em -.3em grey;
}

.return_link {
    margin-left: 1.1em;
    margin-top: 1.1em;
    cursor: pointer;

    width: 2.6em;
    aspect-ratio: 1/1;

    border: 0;
    border-radius: .2rem;
    background-color: #6d6d6d;
}

.return_link:hover{
    background-color: #E1E2E1;
    transition: 200ms;
}

.return_wrapper {
    width: 100%;
    height: 100%;
}

.home_svg {
    height: 100%;
    width: 100%;
}

.status{
    position: center;
    display: block;
    width: 10%;
    height: fit-content;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 40vh auto 0;
    color: black;
    background-color: #cfcfcf;
    padding: 1.3em;
    border: 0;
    border-radius: .2rem;
}

.timeElapsed{
    margin-top: 1em;
}
