html,

body {
    background-color:	#161414;

}

h1 {
    color: #bfbfbf;
    text-align: center;
    margin-top:-7%;
}
h2, h3 {
    color:#bfbfbf;
}
ul {
    margin-top: -7px;
    list-style-type: none;
    color: #bfbfbf;
}
li {
    padding: 5px;
}

.all{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

}
.user, .stats {
    margin-top: 10%;
    margin-bottom:15%;
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
    min-width: 0;
    word-wrap: break-word;

    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 #4b4b4b, 0 1px 2px 0 #929292;
    padding: 1rem;
    background-image: linear-gradient(to bottom right,#222121, #1e1e1e);

}
.unfriend {
    width: 30%;
    color: white;
    background-color: #f44336;
    box-sizing: border-box;
    border: 2px solid #f44336;
    border-radius: 2em;
    transition-duration: 0.4s;
    cursor: pointer;
}
.unfriend:hover{
    background-color: transparent;

}
.add{
    color: white;
    width: 30%;
    background-color:#4CAF50;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 2em;
    transition-duration: 0.4s;
    cursor: pointer;
}

.add:hover{
    background-color: transparent;

}
.edit {
    width: 30%;
    background-color:#5bb3d8;
    color: white;
    box-sizing: border-box;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    transition-duration: 0.4s;
    cursor: pointer;
}
.edit:hover {
    border-color: rgba(255,255,255,1);
    background-color: transparent;
}

.friends{
    margin-top: 10%;
    max-width: 1200px;

    display: grid;
    grid-gap: 1rem;

    overflow-y:scroll;
    overflow-x:scroll;
    height:200px;

    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 #4b4b4b, 0 1px 2px 0 #929292;
    padding: 1rem;

    background-clip: border-box;
    flex-direction: column;
    background-image: linear-gradient(to bottom right,#222121, #1e1e1e);
}

.add.input[type="submit"]{
    backdrop-color: white;
}

.rank{
    position: relative;
    text-align: center;
}

.stats{

    text-align:center;
}

.button{
    color:#494ca2;
    font-size: 16px;
    background-color: transparent;
    border:0.16em solid #494ca2;

    transition-duration: 0.4s;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.button:hover {
    background-color: #494ca2;
    color:#bfbfbf;
}
h1 {
    display: flex;
    flex-direction: row;
    color:#febf0a;
}
h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #febf0a;
    margin: auto;

}
h1:before {
    margin-right: 10px
}
h1:after {
    margin-left: 10px
}
.return_link {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    border: 0.2em solid #494ca2;
    border-radius: .2rem;
    background-color: #494ca2;
    transition-duration: 0.4s;
}

.return_link:hover{
    background-image: linear-gradient(to bottom right, #494ca2, rgba(0,0,0,.125));
}

.listButton{
    display:flex;
    justify-content:space-between;
}

.unfriend1, .reject {
    width: 100%;
    color: white;
    background-color: #f44336;
    box-sizing: border-box;
    border: 2px solid #f44336;
    border-radius: 2em;
    transition-duration: 0.4s;
    cursor: pointer;
}
.unfriend1:hover, .reject:hover{
    background-color: transparent;
}
.add1, .accept{
    color: white;
    width: 100%;
    background-color:#4CAF50;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 2em;
    transition-duration: 0.4s;
    cursor: pointer;
}

.add1:hover, .accept:hover{
    background-color: transparent;

}
.accrej {
    display:flex;

    justify-content: space-between;
}
.pending{
    margin-top: 5%;
    max-width: 1200px;
    margin-bottom:15%;
    display: grid;
    grid-gap: 1rem;

    overflow-y:scroll;
    overflow-x:scroll;
    height:200px;

    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 #4b4b4b, 0 1px 2px 0 #929292;
    padding: 1rem;

    background-clip: border-box;
    flex-direction: column;
    background-image: linear-gradient(to bottom right,#222121, #1e1e1e);
}

.allFriends{
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #161414;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}