body {
    background-color: #232323;
}

.registration_label {
    margin-bottom: 15px;
    color: #ffffff;
}

.form_container{
    border: 5px solid #808080;
    border-radius: 10px;
    width: 330px;
    margin: 120px auto;
    padding: 2px;
    background-image: linear-gradient(to bottom right, #323232, #5e5d5d);
    text-align: center;
    color: #ffffff;
}

input {
    width: 70%;
    padding: 5px 6px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    background-color: #bbbbbb;
    color: #242424;
}

input:hover{
    background-color: #f8f8f8;
    transition: 200ms;
}

.registerbtn {
    background-color: #2d952d;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    margin: 1px auto;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 8px;
}

.registerbtn:hover {
    background-color: #05b400;
    transition: 200ms;
}

.date {
    width: 60%;
}

::placeholder {
    color: #787878;
}