body {
    margin: 0;
}

.return {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 0.3rem;
}

.inputs {
    top: 5px;
    display: block;
    position: fixed;
    width: 50%;
    margin: 0 auto;
    color: aqua;
}

.resultList{
    width: 20rem;
    margin: 0 auto;
}

.italics{
    text-decoration: underline;
}

.user {
    display: block;
    margin-top: 1px;
    margin-bottom: 10px;
    text-align: center;
    height: 6rem;
    width: 10rem;
    border: 1px solid;
}