html,
body {
    margin: 0;
    padding: 0;
}

.search {
    width: 40%;
    height: 90%;
    display: flex;
    margin: auto;
}

.searchField {
    width: 100%;
    outline: none;
}

.searchBtn {
    width: fit-content;
    text-align: center;
    cursor: pointer;
}

.topbar {
    width: 100%;
    height: 3.5em;
    position: fixed;
    display: flex;
    background-color: #6a1b9a;
    justify-content: center;
}

.return_link {
    position: fixed;
    left: 1.0em;
    top: 1em;
    width: 3em;
    cursor: pointer;
    aspect-ratio: 1, 1;
}

.return_wrapper {
    width: 100%;
    height: 100%;
}

.home_svg {
    height: 100%;
    width: 100%;
}

.wrap {
    padding-top: 5em;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.info {
    text-align: center;
}

.resultOutput {
    column-count: 2;
    column-gap: 2rem;
    margin-top: 3rem;
    width: 100%;
}

.resultList {
    list-style: none;
    text-align: center;
    margin: auto;
    padding: 0px;
}

.user {
    border: 1px solid lightgrey;
    display: inline-flex;
    list-style-type: none;
    width: 97%;
    height: 4rem;
    margin: 0px;
    margin-top: 0.5rem;
    padding: 0px;
    padding-left: 0.7rem;
    text-align: left;
    align-items: center;
    justify-content: left;
}

.svg {
    width: 1.8rem;
    height: 1.8rem;
}

.user_link_wrapper {
    text-decoration: none;
    color: black;
    margin-left: 0.9em;
}

.name_label {
    color: rgb(122, 120, 120);
}

.user:hover {
    text-decoration: underline;
}