html, body{
    width: 100%;
    height: 100%;
}

.search_container {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.searchField{
    width: 50rem;
}

.return{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.3rem;
}