.userInfoWrapper{
    display: inline-block;
    left: 0;
    top: 0;
    height: 100%;
    width: 10%;
}

.boardWrapper{
    display: block;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

.playerControlWrapper{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 20%;

}